
@{
    ViewBag.Title = "FeeModes";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>FeeModes</h2>
<script>
    $(document).ready(function () {

        ClearData();
        FetchFeeModes();
        $("#btnaddfeemode").click(function () {
            $("#feemodemodal").modal("show");
        })
        $("#btnsubmit").click(function () {
            AddFeeMode();
        })
        $("#btnupdate").click(function () {
            UpdateFeeMode();
        })
        $("#btndelete").click(function () {
            DeleteFeeMode();
        })
        $("#btnclose").click(function () {
            ClearData();
        })
    })
    function FetchFeeModes() {
        $.ajax({
            url: '/api/feemode',
            method: 'get',
            contentType: 'application/json',
            success: function (resp) {
                console.log(resp);
                $("#tbldata").empty();
                $.each(resp, function (i, d) {
                    $("#tbldata").append("<tr><td>" + (i + 1) + "</td><td>" + d.fee_mode +
                        "</td><td> <input type='button' value='Edit' onclick='EditFeeMode(" + d.fee_mode_id + ")'/><span></span> <input type='button' value='Delete' onclick='DeleteFeeMode(" + d.fee_mode_id + ")'/></td></tr>")
                })

            }

        })
    }
    function EditFeeMode(id) {
        $("#feemodemodal").modal("show");
        $.ajax({
            url: '/api/feemode/' + id,
            method: 'get',
            //contentType: 'application/json',
            success: function (resp) {
                $("#txtfeemodeid").val(resp.feeModeId);
                $("#txtfeemode").val(resp.feeMode);
                $("#btnupdate").show();
                $("#btnsubmit").hide();
            }
        })
    }
    function UpdateFeeMode() {
        var sid = $("#txtfeemodeid").val();
        var s = $("#txtfeemode").val();
        var st = { "FeeModeId": sid, "FeeMode": s };
        $.ajax({
            url: '/api/feemode',
            method: 'put',
            data: (st),
            //contentType: 'application/json',
            success: function (resp) {
                // alert("Updated Successfully");
                FetchFeeModes();
                ClearData();
            }
        })
    }
    function DeleteFeeMode(id) {
        $.ajax({
            url: '/api/deletefeemode/' + id,
            method: 'delete',
            contentType: 'application/json',
            success: function (resp) {
                console.log(resp);
                FetchFeeModes();
            }
        })
    }

    function AddFeeMode() {
        var sid = $("#txtfeemodeid").val();
        var s = $("#txtfeemode").val();
        var st = { "FeeModeId": sid, "FeeMode": s };
        $.ajax({
            url: '/api/feemode',
            method: 'post',
            data: (st),
            //contentType: 'application/json',
            success: function (resp) {
                console.log(resp);
                FetchFeeModes();
                ClearData();
            }
        })

    }
    function ClearData() {
        $("#txtfeemodeid").val("");
        $("#txtfeemode").val("");
        $("#btnsubmit").show();
        $("#btnupdate").hide();
        $("#btndelete").hide();
        $("#feemodemodal").modal("hide");

    }
</script>

    <input type="button" value="Add Fee Mode" class="btn btn-secondary" id="btnaddfeemode" />
    <br />
    <br />



    <div class="modal fade" id="feemodemodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal"><span>&times;</span></button>

                    <h4>Fee_Mode Form</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Fee_Mode Id</label>
                        <input type="text" id="txtfeemodeid" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label>Fee_Mode</label>
                        <input type="text" id="txtfeemode" class="form-control" />
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="button" value="Submit" id="btnsubmit" class="btn btn-primary" />
                    <input type="button" value="Update" id="btnupdate" class="btn btn-info" />
                    <input type="button" value="Delete" id="btndelete" class="btn btn-warning" />
                    <input type="button" value="Close" id="btnclose" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>



    <table class="table table-bordered;table table-info">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Fee Mode</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tbldata"></tbody>

    </table>

